body {
  display: flex;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.square-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%
}

h1 {
  border: 2px solid brown;
  font-size: 40px;
}

.color-swatch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  border: 2px solid red
}

.square-box {
  width: 75%;
  border: 2px solid blue
}

.rectangle-box {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
  width: 25%;
}

.rectangle-title {
  border: 2px solid green;
  width: 100%;
  height: 15%;
  margin-bottom: : 10px;
  display: flex;
  justify-content: center
}

.color-array {
  border: 2px solid green;
  height: 85%;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
}

.button-box {
  border: 2px solid green;
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-between
}
.new-pal-btn {
  border-color: black;
  border-radius: 12;
  padding: 10px 24px;
  background-color: white
}

.save-pal-btn {
  border-color: black;
  border-radius: 12;
  padding: 10px 24px;
  background-color: white
}

.color {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  border: 2px solid orange;
  padding: 30%;
}

.color-code {
  display: flex;
  align-content: center;
  justify-content: space-around;
  padding: 0;
  margin-top: 25px;
  border: 2px solid green;
}

.large-color {
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 15%;
}

.hex {
  border: 2px solid blue;
}

/* .saved-paletes {
  border: 2px solid yellow;
  margin-top: 20px;
  height: 90%;
  width: 90%;
} */

.hidden {
  display: none;
}

.lock {
  display: hidden;
  height: 20%;
  width: 12%;
  border: 2px solid blue;
  margin-top: 21%
}

.unlock {
  border: 2px solid blue;
  height: 25%;
  width: 15%;
  margin-top: 19%
}

/* MINI PALETTE */
.mini-palette {
  height: 30%;
  min-height: 30%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: 2px solid green
}

.mini-color{
  height: 25%;
  width: 15%;
  border: 2px solid blue;
}

.trash {
  height: 15%;
  width: 10%;
  border: 2px solid blue;
  /* margin-top: % */
}
